.table-responsive
  %table.table.table-hover.table-bordered
    %thead.table-light
      %tr
        %th Assignment
        %th Anticipated Energy
        %th Reflect on Past
        %th Energy You Ended Up Using
        %th How You Feel about this Assignment now
        %th How You'd Rate your recent Assignment performance
        %th Ready For Review?
    %tbody
      - assignment_data.each do |data|
        = render 'employee_assignment_row', data: data, form: form
