-# Locals: nav_title, nav_links
.d-md-none.single-item-check-in-mobile-nav.position-sticky.mb-3
  %nav.nav.single-item-check-in-nav.single-item-check-in-mobile-nav__scroll{aria: { label: nav_title }}
    = render "shared/single_item_check_in/section_nav_links", nav_links: nav_links
