-# Assignment Finalization Row - Incomplete
%tr.bg-light
  %td
    %strong= check_in.assignment.title
    = link_to organization_teammate_assignment_path(organization, teammate, check_in.assignment), target: '_blank', rel: 'noopener noreferrer', class: 'ms-2', title: 'View assignment' do
      %i.bi.bi-box-arrow-up-right
  %td{colspan: 5}
    .d-flex.align-items-center.gap-2
      %i.bi.bi-info-circle.text-info
      - if check_in.employee_completed_at.present? && check_in.manager_completed_at.nil?
        %span Employee completed on #{check_in.employee_completed_at.to_date}. Waiting for manager.
      - elsif check_in.manager_completed_at.present? && check_in.employee_completed_at.nil?
        %span Manager completed on #{check_in.manager_completed_at.to_date}. Waiting for employee.
