.container.mt-4
  .row.justify-content-center
    .col-lg-10
      .d-flex.justify-content-between.align-items-center.mb-4
        = link_to position_path(@position), class: "btn btn-outline-secondary" do
          %i.bi.bi-arrow-left.me-1
          Back to Position
        %h2.mb-0
          %i.bi.bi-pencil.me-2
          Edit Position
      
      .card
        .card-header
          %h5.mb-0 Edit Position: #{@position.display_name}
        .card-body
          = form_with model: @position, local: true do |form|
            = render 'form', form: form
