.container.mt-4
  .row.justify-content-center
    .col-lg-10
      .d-flex.justify-content-between.align-items-center.mb-4
        = link_to positions_path, class: "btn btn-outline-secondary" do
          %i.bi.bi-arrow-left.me-1
          Back to Positions
        %h2.mb-0
          %i.bi.bi-plus-circle.me-2
          New Position
      
      .card
        .card-header
          %h5.mb-0 Create New Position
        .card-body
          = form_with model: @position, local: true do |form|
            = render 'form', form: form
