= form.number_field :actual_energy_percentage,
                    min: 0, max: 100,
                    class: css_class || 'form-control form-control-sm',
                    placeholder: '0-100%'





