= form.select :actual_energy_percentage,
              energy_percentage_options,
              { include_blank: 'Select percentage...' },
              class: css_class || 'form-select form-select-sm'





