= form.text_area :employee_private_notes,
                 rows: 2,
                 value: check_in.employee_private_notes,
                 class: css_class || 'form-control form-control-sm',
                 placeholder: 'Employee notes...'





