= form.select :manager_rating,
              position_rating_options,
              { selected: check_in.manager_rating, include_blank: 'Select rating' },
              class: css_class || 'form-control form-control-sm'





