- # _escalator_step_row.html.haml
- # Parameters: step_number, step_name, description, examples, escalator_type, form
%tr
  %td
    %span.d-inline For the 9 stair steps to 
    %strong.d-inline-block #{escalator_type.capitalize} INTIMACY
    %span.d-inline , we'll use a matrix to determine the partner needs.
  %td
    %p 
      First three steps are 
      %strong DISTANT
    %p 
      Middle three (steps 4-6) are 
      %strong SURFACE
    %p 
      Last three (steps 7-9) are 
      %strong INTIMATE
    