- if check_in.present?
  %span.label-sentence="... They reflected and they spent <strong>#{check_in.actual_energy_percentage || '???'}%</strong> of their energy and they <strong>#{check_in.employee_personal_alignment&.humanize || '???'}</strong> taking on this Assignment.".html_safe
- else
  %span No Check-In Found
