%span.label-sentence="#{check_in.manager_completed_by&.first_name} believes #{check_in.person.first_name} is <strong>#{check_in.manager_rating&.humanize}</strong> the expectations of this Assignment.".html_safe
