-# Aspiration Check-Ins Table View - Manager Show Other Participant Is Incomplete
.badge.bg-warning Waiting for Employee
%br
%small.text-muted #{check_in.teammate.person.first_name} has to complete their self-assessment

