-# Aspiration Check-Ins Table View - Manager Show Other Participant Is Complete
.badge.bg-success Ready for Finalization
%br
%small.text-muted #{check_in.teammate.person.first_name} has completed their assessment

