-# Position Check-Ins Table View with Interactive Forms
- if position_check_in
  - display_mode = position_check_in.viewer_display_mode(view_mode)
  - partial_name = "position_check_ins_table_#{view_mode}_#{display_mode}"
  = render partial_name, check_in: position_check_in, form: form, view_mode: view_mode
- else
  .alert.alert-info
    %i.bi.bi-info-circle.me-2
    No position available to do a check-in on
