-# Position Check-In Card View
- if position_check_in
  .row.mt-4
    .col-12
      = render 'position_check_in_form',
               form: form,
               check_in: position_check_in,
               view_mode: view_mode
- else
  .alert.alert-info
    %i.bi.bi-info-circle.me-2
    No position available to do a check-in on
    .mt-2
      -# TODO: Add employment history link in Commit 2
      %span.text-muted Employment management coming soon
