-# locals: form (required), label (required), can_manage (required), large: false,
-#        disabled_tooltip: nil, button_id: nil, test_id: nil
- submit_html = { class: ["btn", "btn-primary", ("btn-lg" if local_assigns.fetch(:large, false))].compact.join(" ") }
- submit_html[:id] = local_assigns[:button_id] if local_assigns[:button_id].present?
- submit_html[:data] = { test_id: local_assigns[:test_id] } if local_assigns[:test_id].present?
- if can_manage
  = form.submit label, **submit_html
- else
  .d-flex.align-items-center.gap-2
    .flex-grow-1
      %button.btn.btn-primary{class: ("btn-lg" if local_assigns.fetch(:large, false)), disabled: true, type: "button", id: local_assigns[:button_id]}
        = label
    %i.bi.bi-exclamation-triangle.text-warning{"data-bs-toggle" => "tooltip", "data-bs-title" => local_assigns[:disabled_tooltip] || "Requires permission to save"}
