/ Giant Check-Ins Card at Top
- check_ins_header_html = capture do
  %i.bi.bi-clipboard-check.me-3
  Check-Ins
- check_ins_primary_html = capture do
  %i.bi.bi-clipboard-data.me-3
  Start My Check-In
- check_ins_secondary_html = capture do
  - if @ready_for_finalization_count.to_i > 0
    %i.bi.bi-check-circle.me-2
    Finalize (#{@ready_for_finalization_count})
  - else
    %i.bi.bi-clock-history.me-2
    Check-In History
- check_ins_tertiary_html = capture do
  - if @finalized_check_in_exists
    %i.bi.bi-check-square.me-2
    Acknowledge Finalized Check-In
  - else
    %i.bi.bi-clock-history.me-2
    Check-In History
- check_ins_description = ['Track progress, share updates, grow together', 'Regular check-ins build trust and transparency', 'Stay aligned, stay connected, stay growing'].sample

= render 'organizations/dashboard/dashboard_hero_card',
  header_html: check_ins_header_html,
  description: check_ins_description,
  primary_action_url: organization_person_check_ins_path(@organization, current_person),
  primary_action_html: check_ins_primary_html,
  secondary_action_url: @ready_for_finalization_count.to_i > 0 ? organization_person_finalization_path(@organization, current_person) : organization_person_check_ins_path(@organization, current_person),
  secondary_action_html: check_ins_secondary_html,
  tertiary_action_url: @finalized_check_in_exists ? organization_person_finalization_path(@organization, current_person) : organization_person_check_ins_path(@organization, current_person),
  tertiary_action_html: check_ins_tertiary_html









