/ CONVO Section
.row.mb-4.mt-5
  .col-12.mt-5
    .d-flex.align-items-center.mb-3
      %h3.text-primary.mb-0.me-3
        %i.bi.bi-people.me-2
        CONVO
      .flex-grow-1
        %hr.border-primary
      %small.text-muted.ms-3 Amplify collaboration

.row.mt-4
  = render 'organizations/dashboard/opportunities', organization: organization
  = render 'organizations/dashboard/decisions', organization: organization
  = render 'organizations/dashboard/huddles', organization: organization
