- links = local_assigns[:links] || []
- linked_goals = local_assigns[:linked_goals] || {}
- linked_goal_check_ins = local_assigns[:linked_goal_check_ins] || {}
- organization = local_assigns[:organization]
- show_unlink = local_assigns.fetch(:show_unlink, true)
- parent_goal = local_assigns[:parent_goal] || @goal
- return_url = local_assigns[:return_url] || (defined?(request) ? request.url : '#')
- return_text = local_assigns[:return_text] || 'Goal'
- display_children_goal_hierarchy = local_assigns.fetch(:display_children_goal_hierarchy, false)
- prompt = local_assigns[:prompt]
- can_edit_prompt = local_assigns.fetch(:can_edit_prompt, false)
- show_category_badge = local_assigns.fetch(:show_category_badge, false)
- show_disassociate = local_assigns.fetch(:show_disassociate, false)
- prompt_goals_by_goal_id = local_assigns[:prompt_goals_by_goal_id] || {}

- valid_links = links.select { |link| (linked_goals[link.child_id] || linked_goals[link.parent_id] || link.child || link.parent).present? }
- grouped_links = {}
- valid_links.each do |link|
  - goal = linked_goals[link.child_id] || linked_goals[link.parent_id] || link.child || link.parent
  - if goal.present?
    - goal_type = goal.goal_type
    - grouped_links[goal_type] ||= []
    - grouped_links[goal_type] << link

- goal_types = ['stepping_stone_activity', 'quantitative_key_result', 'qualitative_key_result', 'inspirational_objective']
- goal_type_labels = { 'stepping_stone_activity' => 'Stepping Stones/Activities', 'quantitative_key_result' => 'Measurable Outcomes', 'qualitative_key_result' => 'Sentiment Outcomes', 'inspirational_objective' => 'Objectives' }

- goal_types.each do |goal_type|
  - links_for_type = grouped_links[goal_type] || []
  - if links_for_type.any?
    - sorted_links = links_for_type.sort_by do |link|
      - linked_goal = linked_goals[link.child_id] || linked_goals[link.parent_id] || link.child || link.parent
      - parent_goal = linked_goals[link.parent_id] || link.parent
      - parent_goal_title = parent_goal&.title&.downcase || ''
      - date_day = linked_goal&.most_likely_target_date&.day || 99
      - goal_title = linked_goal&.title&.downcase || ''
      - [parent_goal_title, date_day, goal_title]
    end
    .mb-4
      %h6.mb-2
        = goal_type_labels[goal_type]
        %span.badge{class: goal_badge_class(goal_type), style: "font-size: 0.75em;"}
          = pluralize(links_for_type.count, 'goal')
      %ul.list-unstyled
        - sorted_links.each do |link|
          - linked_goal = linked_goals[link.child_id] || linked_goals[link.parent_id] || link.child || link.parent
          - next unless linked_goal.present?
          - prompt_goal = prompt_goals_by_goal_id[linked_goal.id] || (link.respond_to?(:prompt_goal) ? link.prompt_goal : nil)
          = render 'organizations/goals/goal_list_item', goal: linked_goal, link: link, linked_goal_check_ins: linked_goal_check_ins, organization: organization, show_unlink: show_unlink, parent_goal: parent_goal, parent_goal_id: parent_goal&.id, return_url: return_url, return_text: return_text, display_children_goal_hierarchy: display_children_goal_hierarchy, linked_goals: linked_goals, prompt: prompt, prompt_goal: prompt_goal, can_edit_prompt: can_edit_prompt, show_category_badge: show_category_badge, show_disassociate: show_disassociate
