-# Job Description Summary Section
-# Usage: = render 'job_description_summary', position: @position

.row.mb-4
  .col-12
    %h3
      %strong Summary:
    - if position.combined_summary.present?
      .markdown-content= render_markdown(position.combined_summary)
    - else
      %p No summary provided
    
