.card.border.mb-4
  .card-body.py-3
    = render 'organizations/shared/maap_clarity_review_button',
             review_path: maap_clarity_organization_position_path(@organization, @position),
             run: @position_clarity_run,
             can_run: policy(@position).run_clarity?,
             extra_classes: 'w-100',
             disabled_tooltip: 'You need can_manage_maap permission to consult OG'
