.mb-3
  = form.label :position_type_id, "Position Type", class: "form-label"
  .d-flex
    = form.select :position_type_id, 
      options_from_collection_for_select(@position_types, :id, :display_name_with_major_level, @position.position_type_id), 
      { prompt: 'Select a position type' }, 
      { class: "form-select", required: true, id: "position_type_select" }
    = link_to new_position_type_path, class: "btn btn-outline-secondary ms-2", target: "_blank" do
      %i.bi.bi-plus
  %small.form-text.text-muted Choose the type of position or create a new one


