- content_for :title, @position.display_name

- content_for :header do
  %h1.mb-0= @position.display_name

- content_for :header_action do
  = render 'view_switcher'

- content_for :go_back_link do
  = link_to organization_positions_path(@organization), class: "go-back-link" do
    %i.bi.bi-arrow-left.me-2
    Back to Positions



.row.justify-content-center
  .col-lg-10
    = render 'show_content'
