- rating_words = local_assigns[:observation_rating].decorate.rating_to_words
- if local_assigns[:include_assignment_name]
  an #{content_tag(:strong, rating_words)} example of being a #{content_tag(:strong, local_assigns[:observation_rating].rateable.name)}
- else
  an #{content_tag(:strong, rating_words)} example

