= link_to convert_to_generic_organization_observation_path(@organization, observation), 
          method: :patch,
          data: { confirm: "This will enable all privacy levels and features. Continue?" },
          class: "btn btn-sm btn-outline-secondary" do
  %i.bi.bi-arrow-right-circle.me-1
  Convert to Generic

