.dropdown
  %button.btn.btn-outline-primary.btn-sm.dropdown-toggle{"data-bs-toggle" => "dropdown", "aria-expanded" => "false", type: "button"}
    %i.bi.bi-eye.me-2
    = observation_current_view_name
  %ul.dropdown-menu
    %li
      - if action_name == 'show'
        .dropdown-item.text-muted
          %i.bi.bi-eye.me-2
          View Mode (Active)
          %i.bi.bi-check-circle.text-success.ms-2
      - else
        = link_to organization_observation_path(organization, observation), class: 'dropdown-item' do
          %i.bi.bi-eye.me-2
          View Mode
      
    %li
      - if action_name == 'new' && (params[:draft_id].present? || params[:id].present?)
        .dropdown-item.text-muted
          %i.bi.bi-pencil.me-2
          Edit Mode (Active)
          %i.bi.bi-check-circle.text-success.ms-2
      - elsif policy(observation).update?
        = link_to new_organization_observation_path(organization, draft_id: observation.id, return_url: organization_observation_path(organization, observation), return_text: 'Back to Observation'), class: 'dropdown-item' do
          %i.bi.bi-pencil.me-2
          Edit Mode
      - else
        .dropdown-item.text-muted.disabled
          %i.bi.bi-pencil.me-2
          Edit Mode
          %i.bi.bi-exclamation-triangle.text-warning.ms-2{"data-bs-toggle" => "tooltip", "data-bs-title" => "You need to be the observer to edit this observation"}
    
    %li
      - if observation.privacy_level == 'public_to_world'
        = link_to organization_kudo_path(organization, date: observation.observed_at.strftime('%Y-%m-%d'), id: observation.id), class: 'dropdown-item' do
          %i.bi.bi-globe.me-2
          Public Mode
      - else
        .dropdown-item.text-muted.disabled
          %i.bi.bi-globe.me-2
          Public Mode
          %i.bi.bi-exclamation-triangle.text-warning.ms-2{"data-bs-toggle" => "tooltip", "data-bs-title" => "Public Mode is only available for observations with 'Public to World' privacy level"}