/ Page visit statistics
- if @page_visit_stats
  %p.text-muted.caption-text.mt-3.mb-0
    Observation has been viewed #{@page_visit_stats[:total_views]} times by #{@page_visit_stats[:unique_viewers]} teammates
