.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th Story
        %th Privacy
        %th Feelings
        %th Ratings
        %th Observer
        %th Observed
        %th Date
        %th Notifications
        %th Actions
    %tbody
      - @observations.each do |observation|
        = render 'organizations/observations/observation_table_row', observation: observation, organization: @organization

