%th.sticky-col{scope: "col"}
  %span.og-scorecard-metric-cell Metric
%th.text-end{scope: "col"} Last 6-week average
%th.text-end.og-scorecard-th-col{scope: "col"} Yellow threshold
%th.text-end.og-scorecard-th-col{scope: "col"} Green threshold
%th.og-scorecard-th-col{scope: "col"} More or less is better
- @week_labels.each do |label|
  %th.text-end{scope: "col"}= label
