- content_for :title, "OKR3 Management - Coming Soon"

= render 'shared/coming_soon_hero', feature_name: 'OKR3 Management'

.card
  .card-header
    %h4.mb-0
      %i.bi.bi-bullseye.me-2
      OKR3 Management System
  .card-body
    .row
      .col-md-8
        %h5 What are OKR3s?
        %p OKR3s are our enhanced version of OKRs that use confidence levels and observability types to create more nuanced goal-setting.
        
        %h6.mt-4 Confidence Levels:
        %ul
          %li
            %strong COMMIT: 
            %span.text-success 80%+ confident we'll accomplish by check-in date
          %li
            %strong STRETCH: 
            %span.text-warning 50% confident we'll accomplish by check-in date
          %li
            %strong TRANSFORM: 
            %span.text-danger <30% confident we'll accomplish by check-in date (impossible until someone does it)
        
        %h6.mt-4 Observability Types:
        %ul
          %li
            %strong Adoption: 
            %span.text-muted Did folks find the value? (Open, Land, Try)
          %li
            %strong First-order: 
            %span.text-muted Did the thing do its job? (Value, Viability:Cost, Viability:Benefit)
          %li
            %strong Second-order: 
            %span.text-muted Did it have impact in unrelated areas? (Upstream, Downstream, Return value)
        
        %h6.mt-4 Vision:
        %p This system will provide the software foundation for the OKR3 methodology that enables effective goal setting and achievement tracking.
        
      .col-md-4
        .card.bg-light
          .card-body
            %h6.text-primary
              %i.bi.bi-target.me-2
              Nuanced Goals
            %p.small OKR3s provide more nuanced goal-setting than traditional OKRs.
            
            %hr
            
            %h6.text-success
              %i.bi.bi-graph-up.me-2
              Measurable Progress
            %ul.small
              %li Confidence tracking
              %li Observability metrics
              %li Achievement analytics
              %li Learning capture
