.row.mb-3
  .col-12
    %label.form-label
      %h3 Who are you observing?
.row.mb-3
  .col-1
    .single-page-wizard-step 1
  .col-11
    - observation.observees.each do |observee|
      %span.badge.bg-primary.me-1
        = observee.teammate.person.display_name
    %br/
    %br/
    = form.submit 'Manage Observees',
                  class: 'btn btn-sm btn-outline-primary',
                  name: 'save_and_manage_observees',
                  value: 'Manage Observees',
                  onclick: "var field = document.getElementById('form_method_field'); if (field) field.value = 'patch'; return true;"

