.energy-total.alert.alert-info.mb-0.pb-1.pt-1.d-inline-block
  %strong Energy Total: 
  %span.energy-total-display{id: "energy-total-#{id_suffix}"} 0%
  %span.energy-status-display{id: "energy-status-#{id_suffix}"}
  / Debug: id_suffix = #{id_suffix}
