.table-responsive
  %table.table.table-hover.table-bordered
    %thead.table-light
      %tr
        %th Assignment
        %th Energy Now On
        %th Reflecting on the past
        %th Manager Rating
        %th Manager Notes
        %th Complete
    %tbody
      - assignment_data.each do |data|
        = render 'manager_assignment_row', data: data, form: form
