-# Aspiration Check-Ins Table View - Employee Show Other Participant Is Complete
.badge.bg-success Ready for Finalization
%br
%small.text-muted #{check_in.manager_completed_by_teammate&.person&.casual_name || 'Your manager'} has completed their assessment

