-# Position Check-Ins Table View - Manager Show Other Participant Is Complete
.badge.bg-success Ready for Finalization
%br
%small.text-muted #{check_in.employment_tenure.teammate.person.casual_name} has completed their assessment
