-# Locals: bucket (:green | :yellow | :red), person_name, therefore_line (ordering / clarity explainer for tooltip)
- therefore_line = local_assigns.fetch(:therefore_line)
%span.d-inline-block{
  "data-bs-toggle" => "tooltip",
  "data-bs-placement" => "top",
  "data-bs-title" => therefore_line,
  title: therefore_line,
  style: "cursor: help;",
  tabindex: "0"
}
  %span.badge.rounded-pill{class: up_next_status_pill_class(bucket)}= up_next_status_pill_message(bucket, person_name: person_name)
