- content_for :title, "New Ability"

.d-flex.justify-content-between.align-items-center.mb-2
  %h1.mb-0{id: "page-title"}
    %i.bi.bi-lightning.me-2
    New Ability
  .d-flex.align-items-center
    = link_to organization_abilities_path(@organization), class: "btn btn-secondary" do
      %i.bi.bi-arrow-left.me-2
      Cancel

.mb-4
  = link_to organization_abilities_path(@organization), class: "text-muted text-decoration-none" do
    %i.bi.bi-arrow-left.me-2
    Back to Abilities

.card
  .card-header
    %h5.mb-0
      %i.bi.bi-lightning.me-2
      Create New Ability
  .card-body
    = render 'form', form_url: organization_abilities_path(@organization), submit_button_text: "Create Ability", cancel_path: organization_abilities_path(@organization), version_section_title: @ability_decorator.version_section_title_for_context, version_section_description: @ability_decorator.version_section_description_for_context, version_options: @ability_decorator.new_version_options


