= form.select :employee_personal_alignment,
              options_for_select([['Love', 'love'], ['Like', 'like'], ['Neutral', 'neutral'], ['Only If Necessary', 'only_if_necessary']], check_in.employee_personal_alignment),
              { include_blank: 'Select alignment' },
              class: css_class || 'form-control form-control-sm'





