-# Aspiration Finalization Table
- if (@ready_aspiration_check_ins&.any?) || (@incomplete_aspiration_check_ins&.any?)
  .table-responsive.mb-4
    %table.table.table-striped.table-hover
      %thead.table-light
        %tr
          %th Name
          %th Employee Check-in
          %th Manager Check-in
          %th Final Notes
          %th Final Rating
          %th Finalize?
      %tbody
        - if @ready_aspiration_check_ins
          - @ready_aspiration_check_ins.each do |check_in|
            = render 'aspiration_finalization_row_ready', check_in: check_in, form: form, view_mode: view_mode
        - if @incomplete_aspiration_check_ins&.any?
          - @incomplete_aspiration_check_ins.each do |check_in|
            = render 'aspiration_finalization_row_incomplete', check_in: check_in
