-# Assignment Finalization Table
- if (@ready_assignment_check_ins&.any?) || (@incomplete_assignment_check_ins&.any?)
  .table-responsive.mb-4
    %table.table.table-striped.table-hover
      %thead.table-light
        %tr
          %th Name
          %th Employee Check-in
          %th Manager Check-in
          %th Final Notes
          %th Final Values
          %th Finalize?
      %tbody
        - if @ready_assignment_check_ins
          - @ready_assignment_check_ins.each do |check_in|
            = render 'assignment_finalization_row_ready', check_in: check_in, form: form
        - if @incomplete_assignment_check_ins&.any?
          - @incomplete_assignment_check_ins.each do |check_in|
            = render 'assignment_finalization_row_incomplete', check_in: check_in
