- content_for :title, "Edit Reward"

- content_for :header do
  %h1.mb-0
    %i.bi.bi-pencil.me-2
    Edit Reward

- content_for :go_back_link do
  = nav_hierarchy_with_previous(organization: @organization, crumbs: [{ label: "Rewards catalog", url: organization_kudos_rewards_rewards_path(@organization) }, { label: "Edit reward", url: nil }])

= render 'form'
