- content_for :title, "Edit Reward"

- content_for :header do
  %h1.mb-0
    %i.bi.bi-pencil.me-2
    Edit Reward

- content_for :go_back_link do
  = link_to organization_kudos_rewards_rewards_path(@organization), class: "go-back-link" do
    %i.bi.bi-arrow-left.me-2
    Back to Rewards

= render 'form'
