- content_for :title, "Add Reward"

- content_for :header do
  %h1.mb-0
    %i.bi.bi-plus-circle.me-2
    Add Reward

- content_for :go_back_link do
  = nav_hierarchy_with_previous(organization: @organization, crumbs: [{ label: "Rewards catalog", url: organization_kudos_rewards_rewards_path(@organization) }, { label: "Add reward", url: nil }])

= render 'form'
