- content_for :title, "My Huddles"

.container
  .row
    .col-12
      .d-flex.justify-content-between.align-items-center.mb-4
        %h1 My Huddles
        = link_to "Today's Huddles", huddles_path, class: "btn btn-outline-secondary"
      
      - if @huddles.any?
        - @huddles_by_company.each do |company, huddles|
          .mb-4
            %h3.text-primary.mb-3= company&.name || 'Unknown Company'
            .row
              - huddles.each do |huddle|
                = render 'huddle_card', huddle: huddle
      - else
        .text-center.py-5
          %h3.text-muted No huddles yet
          %p.mb-4 You haven't participated in any huddles yet.
          = link_to "Join Today's Huddles", huddles_path, class: "btn btn-primary btn-lg" 