.row.mb-3
  .col-12
    = form.label :story, class: 'form-label' do
      %h3 How did this make you feel?
      .text-muted.small Optional
.row.mb-3
  .col-1
    .single-page-wizard-step 3
  .col-11
    = render 'organizations/observations/feelings_fields', form: form, observation: observation, layout: 'row'

