- organization = local_assigns[:organization]
- linked_goals = local_assigns[:linked_goals] || {}
- linked_goal_check_ins = local_assigns[:linked_goal_check_ins] || {}
- non_archived_goals = local_assigns[:non_archived_goals] || []
- association_by_goal_id = local_assigns[:association_by_goal_id] || {}
- disassociate_return_url = local_assigns[:disassociate_return_url]
- for_company_teammate_id = local_assigns[:for_company_teammate_id]
- link_goal_titles = local_assigns.fetch(:link_goal_titles, false)
- show_goal_progress_link = local_assigns.fetch(:show_goal_progress_link, false)
- goal_weekly_update_return_url = local_assigns[:goal_weekly_update_return_url]
- weekly_update_return_text = local_assigns[:weekly_update_return_text]

- if non_archived_goals.any?
  - all_descendant_goal_ids = linked_goals.keys.to_set
  - goals_by_type = non_archived_goals.group_by(&:goal_type)
  - goal_types = ['stepping_stone_activity', 'quantitative_key_result', 'qualitative_key_result', 'inspirational_objective']
  - goal_type_labels = { 'stepping_stone_activity' => 'Stepping Stones/Activities', 'quantitative_key_result' => 'Measurable Outcomes', 'qualitative_key_result' => 'Sentiment Outcomes', 'inspirational_objective' => 'Objectives' }
  - goals_that_are_children = Set.new
  - GoalLink.where(parent_id: all_descendant_goal_ids, child_id: all_descendant_goal_ids).each do |link|
    - goals_that_are_children.add(link.child_id)
  - root_goals = non_archived_goals.reject { |goal| goals_that_are_children.include?(goal.id) }
  - goal_types.each do |goal_type|
    - goals_for_type = (goals_by_type[goal_type] || []).select { |g| root_goals.include?(g) }
    - if goals_for_type.any?
      - sorted_goals = goals_for_type.sort_by do |goal|
        - [goal.most_likely_target_date&.day || 99, goal.title.downcase]
      .mb-4
        %h6.mb-2
          = goal_type_labels[goal_type]
          %span.badge{class: goal_badge_class(goal_type), style: "font-size: 0.75em;"}
            = pluralize(goals_for_type.count, 'goal')
        %ul.list-unstyled
          - sorted_goals.each do |goal|
            = render 'shared/goals/goal_hierarchy_item', goal: goal, indent_level: 0, all_descendant_goal_ids: all_descendant_goal_ids, linked_goal_check_ins: linked_goal_check_ins, organization: organization, association_record: association_by_goal_id[goal.id], disassociate_return_url: disassociate_return_url, for_company_teammate_id: for_company_teammate_id, link_goal_titles: link_goal_titles, show_goal_progress_link: show_goal_progress_link, goal_weekly_update_return_url: goal_weekly_update_return_url, weekly_update_return_text: weekly_update_return_text
- else
  %em.text-muted= local_assigns[:empty_message].presence || 'No goals associated yet.'
