.toast-container.position-fixed.top-0.end-0.p-3{style: "z-index: 1055;"}
  - if notice || flash[:notice]
    - notice = notice || flash[:notice]
    .toast.align-items-center.text-white.bg-success.border-0{role: "alert", "aria-live": "assertive", "aria-atomic": "true", "data-bs-autohide": "true", "data-bs-delay": "5000"}
      .d-flex
        .toast-body
          %i.bi.bi-check-circle.me-2
          = notice
        %button.btn-close.btn-close-white.me-2.m-auto{type: "button", "data-bs-dismiss": "toast", "aria-label": "Close"}

  - if alert
    .toast.align-items-center.text-white.bg-danger.border-0{role: "alert", "aria-live": "assertive", "aria-atomic": "true", "data-bs-autohide": "true", "data-bs-delay": "5000"}
      .d-flex
        .toast-body
          %i.bi.bi-exclamation-triangle.me-2
          = alert
        %button.btn-close.btn-close-white.me-2.m-auto{type: "button", "data-bs-dismiss": "toast", "aria-label": "Close"}
  
  - if flash[:error]
    .toast.align-items-center.text-white.bg-danger.border-0{role: "alert", "aria-live": "assertive", "aria-atomic": "true", "data-bs-autohide": "true", "data-bs-delay": "5000"}
      .d-flex
        .toast-body
          %i.bi.bi-x-circle.me-2
          = flash[:error]
        %button.btn-close.btn-close-white.me-2.m-auto{type: "button", "data-bs-dismiss": "toast", "aria-label": "Close"}

